<div class="thumbnail">
    <%=image_tag @ad.picture.url(:large)%>
    <div class="caption-full">
        <h4 class="pull-right">R$ <%= @ad.price %> </h4>
    <% if member_signed_in? %>
        <div class="text-right">
            <%= form_tag(checkout_payments_path) do %>
            <%= hidden_field_tag :ad_id, @ad.id %>
            <%= submit_tag  "Comprar", class:"btn btn-success", 
            data:{confirm:"Deseja realmente comprar esse produto ? "}%>
            </div>
        <% end %>
        <% else %>
        <div class="text-right">
            <%= link_to  "Efetue login para comprar", new_member_session_path, class:"btn btn-success" %>
        </div>
    <% end %>
        <h4><a href="#"><%= @ad.title%></a>
        </h4>
        <p><%=@ad.description.html_safe%></p>
    </div>

    <div class="ratings">
        <p class="pull-right">3 reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
        </p>
    </div>
    
</div>
<%= link_to  "Imprimir PDF",site_ad_detail_path(format: :pdf), class:"btn btn-danger"%>
<div class="well">
    <% if member_signed_in? %>
        <div class="text-right">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commetModal">
                Deixe um Comentário
            </button>
        </div>
    <% else %>
    <div class="text-right">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commetModal" disabled="disabled">
            Deixe um Comentário
        </button>
    </div>
    <% end %>
    <hr>
<%= render partial: 'site/ad_detail/comments' %>
<%= render partial: 'site/ad_detail/comment_modal' %>

</div>

</div>

</div>
